@import "tailwindcss";

@source "../app";
@source "../components";
@source "../lib";

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    @apply text-zinc-300;
  }

  /* Custom scrollbar for a sleeker look */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-white/10 rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-white/20;
  }
}
